services:
  postgres:
    image: postgres:15-alpine
    env_file: .env
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    
  redis:
    image: redis:latest
    env_file: .env
    ports:
      - "6379:6379"
  
  app:
    build: .
    env_file: local.env
    depends_on:
      - postgres
      - redis
    ports:
      - "8080:8080"
    environment:
      - CONFIG_PATH=./config/local.yaml